@using Umbraco.Cms.Web.Common.PublishedModels;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;

@{
//	Layout = null;
 Layout = "MasterEmpList.cshtml";
}


@using MvcUmbraco.Controllers
@using MvcUmbraco.Models


@* The active statement is indedd an alternative to "@model <IEnumerable<Employee>>" *@
@* 
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<IEnumerable<Employee>>
*@

@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<IEnumerable<Employee>>

<!-- Jumbotron, w title -->
    <div class="jumbotron text-center jumbotron-fluid">
            <div class="container">
              
              <h1 class="display-1">Employees</h1> 
            
            </div>
        </div>

<!-- Main -->
<section id="main" class="wrapper">
    <div class="container">

     
      @if (TempData["ResultOk"] != null)
        {
           <br /> 
           <h2 class="alert-success">@TempData["ResultOk"]</h2>
           
        }
       
       <br />

       <!--Note: 24-06-2025: The Title of the Page displayed by Umbraco 
       Helper instead of Model.Value which make conflict with my custom Model-->
       <!--24-06-2025: Getting the Page Title of the Page by Umbraco Helper-->
         @{
             var nodeid = 1083;
             var mypage = Umbraco.Content(nodeid);
             if( mypage != null ){
                 <h2>@mypage.Value("pageTitle")</h2>
                 } else
                 { 
                  <h2>List of Employees</h2>
                 }
            }
       <!--Using the above method by Umbraco Helper-->
       <!--<h2>List of Employees</h2>-->
             
       <div class="autoscrollable-wrapper"></div>
        
       <p><a href="/emp-create">Create an Employee</a></p>

        <table class="table table-responsive table-bordered table-hover">
        <thead>
            <tr>
                <th scope="col">Employee Name</th>
                <th scope="col">Designation</th>
                <th scope="col">Address</th>
                <th scope="col">CreatedOn</th>
                <th></th>
            </tr>
         </thead>
         
         <tbody>
          @if(Model == null)
          {
            <tr><td colspan="5" style="text-align:center">Error, the Model is empty !</td></tr>
          } 
          else
          {
             @foreach (var item in Model ) 
            {
                <tr>
                    <td width="20%">
                        @item.Name
                    </td>
                    <td width="20%">
                        @item.Designation
                    </td>
                    <td width="25%">
                        @item.Address
                    </td>
                    <td width="20%">
                        @item.RecordCreatedOn
                    </td>
                    <td>
                        <div role="group" class="w-60 btn-group">
                                                      
                             <a href="/emp-update?id=@item.Id">Edit</a>
                             <br />&nbsp;&nbsp;&nbsp;

                              <a href="/emp-delete?id=@item.Id">Delete</a>
                             <br />&nbsp;

                          
                        </div>
                    </td>
                </tr>
           } 
          
           }
          
           </tbody>

        </tbody>
       </table>
       

      </div>
           
    </div>
</section>    